* {
    outline: 1px solid --red;
}

.mz {
    font-family: 'Noto Serif KR', serif;
}

.inner {
    width: 1200px;
    margin: 0 auto;
}

button {
    background: transparent;
    border: none;
    outline: none;
    line-height: 1;
    cursor: pointer;
}

.sec {
    padding: 100px 0;
}

.bg {
    background: #f9f9f9;
}


/* header 시작 */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* border-bottom: 1px solid rgba(214, 214, 214, 0.4); */
    line-height: 80px;
    z-index: 9999;
    background: #fff;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 20%);
    /* border-bottom: 1px solid rgba(217,217,217,0.2); */
}

.header .header_inner {
    display: flex;

    width: 1800px;
    margin: 0 auto;
    line-height: 80px;
}

.header .header_inner>* {
    flex: 1;
    justify-content: space-between;
}

.header .header_inner h1 {
    font-size: 0;
}

.header .header_inner h1 img {
    width: 150px;
}


.header .main_inquires {
    text-align: right;
}

.header .main_inquires .btn01 a {
    padding: 15px 20px;
    background: #206a5d;
    color: #fff;
    margin: 0 10px 0 0;
}

.header .main_inquires .btn02 a {
    padding: 15px 40px;
    background: #3b3b3b;
    color: #fff;
}


/* header 메뉴 */
.header .gnb>ul {
    display: flex;
    gap: 30px;
}

.header .gnb>ul>li {
    font-weight: 700;
}

.header .gnb>ul>li>a {
    display: block;
    text-align: center;
    padding: 0 10px;
}

.header .gnb>ul>li .menu_wrap {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    line-height: 60px;

    background: #fff;
    display: none;
    z-index: 999;
}

.header .gnb>ul>li:hover .menu_wrap {
    display: block;
    background: #444;
    color: #fff;
    line-height: 60px;
}

.header .gnb>ul>li .smenu {
    display: flex;
    justify-content: left;
    width: 500px;
    /* margin: 0 auto; */
    /* padding: 0 20px; */
    background: #444;

    font-size: 15px;
    font-weight: 300;
}

.header .gnb>ul>li .smenu a {
    padding: 20px 20px 20px 10px;
}


.header .gnb>ul::before {
    content: "";
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background: #444;
    height: 0;
}

.header .gnb>ul:hover::before {
    height: 60px;
}

.header .gnb>ul>li:hover {
    color: #206a5d;
}

/* --- */
.header .gnb>ul>li {
    position: relative;
}

.header .gnb>ul>li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 3px;
    background: #206a5d;
}

.header .gnb>ul>li:hover::after {
    width: 100%;
}



/* main */

.sub_title {}


.sub_title .inner_top {
    position: relative;
    height: 500px;
    background: url(../img/sub_top.jpg)no-repeat center center/cover;
}

.sub_title .inner_top::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: url(../img/sub_pattern.png);
    opacity: 0.7;
    height: 100%;
}

.sub_title .inner {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    z-index: 999;
}

.sub_title .inner h2 {
    font-size: 32px;
    font-weight: 500;
    margin: 0 0 50px 0;
    letter-spacing: 0.2em;
}

.sub_title .inner p {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.2em;
}

.sub_title .inner b {
    font-size: 16px;
    font-weight: 700;
}

.sub_title .inner h2::after {
    content: "";
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 40px;
    height: 1px;
    background: #fff;
}


/* sub_brand_identity */
.sub_brand_identity .inner {
    display: flex;
    gap: 30px;
    padding: 0 0 100px 0;
}

.sub_brand_identity .sun_iden_left {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}

.sub_brand_identity .sun_iden_left strong {
    display: block;
    font-size: 45px;
    font-weight: 500;
    line-height: 1.3;

    margin: 0 0 50px 0;
}

.sub_brand_identity .sun_iden_left span {
    display: block;
    line-height: 1.45;
}

.sub_brand_identity .sun_iden_left span b {
    font-weight: 700;
}

.sub_brand_identity .inner_bottom {
    width: 1200px;
    margin: 0 auto;

    display: flex;
    gap: 30px;
}

.sub_brand_identity .inner_bottom_left {
    flex: 1;
}

.sub_brand_identity .inner_bottom strong {
    display: block;
    font-size: 45px;
    font-weight: 500;
    line-height: 1.3;

    margin: 0 0 50px 0;
}

.sub_brand_identity .inner_bottom span {
    display: block;
    line-height: 1.45;
}

.sub_brand_identity .inner_bottom span b {
    font-weight: 700;
}

.sub_brand_identity .inner_bottom_right {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}

.sub_banner .sub_banner_itm {
    position: relative;
    height: 200px;
    text-align: center;
    background: url(../img/sub_con_fixed.jpg)no-repeat fixed center center/cover;
    /* filter: grayscale(1); */
}

.sub_banner .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.45;
}


/* sub_slogan */
.sub_slogan .inner {
    position: relative;
    text-align: center;
}

.sub_slogan .inner h2 {
    font-size: 55px;
    font-weight: 700;
    margin: 0 0 150px 0;
}


.sub_slogan .inner h2::after {
    content: "";
    position: absolute;
    top: 100px;
    left: 50%;
    width: 1px;
    height: 30px;
    background: #555;
    margin: 20px 0 0 0;
}

.sub_slogan .inner strong {
    display: block;
    font-size: 20px;
    margin: 0 0 40px 0;
}

.sub_slogan .inner strong:last-child {
    margin: 0;
}

.sub_slogan .inner strong b {
    font-size: 32px;
    font-weight: 700;
    color: #206a5d;
}

/* sub_contact */
.sub_contact .sub_contact_itm {
    position: relative;
    height: 400px;
    background: url(../img/sub_con_end.jpg)no-repeat center center/cover;
}

.sub_contact .sub_contact_itm .inner {
    /* outline: 1px solid red; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.sub_contact .sub_contact_itm .inner h2 {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 10px 0;
}

.sub_contact .sub_contact_itm .inner p {
    font-size: 18px;

    color: #fff;
    margin: 0 0 40px 0;
}

.sub_contact .sub_contact_text_top input {
    width: 200px;
    height: 40px;
    margin: 0 8px 10px 0;
}

.sub_contact .sub_contact_text_bottom {
    display: flex;
    gap: 20px;
}
.sub_contact .sub_contact_text_bottom textarea {
    width: 1000px;
    height: 120px;
    font-size: 16px;
}

.sub_contact .sub_contact_text_bottom button {
    width: 100px;
    height: 120px;
    background: #206a5d;
    color: #fff;

    flex: 1;
    justify-content: flex-end;
}


/* --- footer --- */

.footer {
    background: #f9f9f9;
    color: #444;
    border-top: 1px solid #ddd;
}


.footer .top {
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.8); */
    line-height: 30px;
}

.footer .top .inner {
    text-align: center;
    font-size: 0;
}

.footer .top img {
    display: block;
    padding: 50px 0 30px 0;
    width: 70px;
    margin: 0 auto;
}

.footer .top .inner li {
    display: inline-block;
    font-size: 14px;
}

.footer .top .inner li>a {
    padding: 0 10px;
}

.footer .top .inner li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 9px;
    background: #888;
}

/* .footer .bottom {
    text-align: center;
    padding: 20px 0 30px 0;
    font-size: 13px;
    line-height: 1.35;
    color: #888;
} */

.footer .bottom .inner {
    text-align: center;
    font-size: 0;
    padding: 0 0 20px 0;
}

.footer .bottom .inner li {
    display: inline-block;
    font-size: 13px;
}

.footer .bottom .inner li>a {
    padding: 0 10px;
}

.footer .bottom .inner li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 9px;
    background: #888;
}

.footer .bottom .copy {
    font-size: 14px;
    text-align: center;
    line-height: 80px;

}



/* to top */
.to_top {
    position: fixed;
    bottom: 50px;
    right: 50px;

    z-index: 9999;
}

.to_top button {
    border: none;
    outline: none;
}

.to_top i {
    background: #206a5d;
    color: #fff;
    font-size: 25px;
    padding: 15px;
    border-radius: 50%;
}

.to_top {
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}

.to_top.on {
    opacity: 1;
    visibility: visible;
}